.Box {
  margin: 0;
  padding: 0;
}

.aTag {
  text-decoration: none;
  cursor: pointer;
}
.Navdiv {
  width: 100%;
  height: 70px;
  background-color: #0046be;
}
.iconss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.mainp {
  margin-top: 200px;
}
.scurty {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
}
.signupbtn {
  cursor: pointer;
  color: black;
  background-color: #ffce00;
  border: 0;
  height: 40px;
  width: 150px;
  font-weight: bold;
  margin-bottom: 20px;
}
.types > div {
  margin: 10px;
}
.check {
  height: 30px;
  width: 30px;
  margin-top: -40px;
  margin-right: 10px;
}
.checkdiv {
  display: flex;
  align-items: center;
  width: 350px;
}
.head {
  font-weight: bold;
}
.ftypes {
  margin-left: 50px;
}
.fp {
  font-weight: lighter;
  font-size: 12px;
  padding-bottom: 20px;
}
.types > div > p {
  margin: 0;
  padding: 0;
}
.types {
  display: flex;

  /* align-items: center; */
}

.imgs {
  width: 100px;
  height: 60px;
}
.Flexdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f5f7f9;
}
.Flexdiv > div {
  margin-top: 50px;
  margin-left: -50px;
  margin-bottom: 30px;
  width: 500px;
}
#btnid {
  background-color: #f5f7f9;
  width: 250px;
  color: #0046be;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 0;
}
.iconflex {
  display: flex;
  align-items: center;
}
.iconp {
  color: #0046be;
  font-weight: bold;
  font-size: 20px;
}
.inputs {
  text-indent: 14px;
  width: 300px;
  height: 40px;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid #adadad;
  cursor: pointer;
}

#pwipt {
  border: none;
}
.inputFlex {
  box-sizing: border-box;
  width: 305px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #adadad;
}
.acflex {
  display: flex;
  justify-content: left;
}
.acicon {
  margin-top: 13px;
  padding: 5px;
  font-size: 20px;
}
.inputFlex > div {
  cursor: pointer;
  width: 50px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e8f0fe;
  color: #0046be;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  border-top: 0.5px solid #adadad;
  border-bottom: 0.5px solid #adadad;
  border-left: 0px;
  border-right: 0.5px solid #adadad;
}
.labels {
  margin-left: 0px;
  font-weight: lighter;
}
.H1 {
  font-size: 50px;
  color: #0046be;
}
.H2 {
  padding-top: 100px;
}

.btns {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btns > a {
  margin-top: 10px;
}
.snav {
  width: 100%;
  height: 70px;
  background-color: white;
  padding-left: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.icon {
  color: #0046be;
  font-weight: bold;
  font-size: 25px;
}
.btns > a {
  margin-left: 20px;
  font-weight: bold;
}
.buttons {
  margin-top: 20px;
  cursor: pointer;
  border: 0px;
  width: 170px;
  height: 50px;
  background-color: #0046be;
  color: azure;
  font-weight: bold;
}
.scrtyicon {
  font-size: 30px;
  margin-top: -5px;
}
.passEx {
  font-size: 16px;
  margin: 10px 0;
  font-weight: lighter;
}
