* {
  margin: 0;
  padding: 0;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  font-family: "Human BBY";
  max-width: 100%;
  background-color: #ffffff;
}
@font-face {
  font-family: "Human BBY";
  /* src: url(https://www.bestbuy.ca/BBYHumanFontfiles/HumanBBY-55Regular-Web.eot); */
  src: url(../src/assets/fonts/HumanBBY-55Regular-Web.eot);
  src: url(https://www.bestbuy.ca/BBYHumanFontfiles/HumanBBY-55Regular-Web.woff2)
      format("woff2"),
    url(../src/assets/fonts/HumanBBY-55Regular-Web.woff) format("woff"),
    url(../src/assets/fonts/Human-BBY-Web-55Regular.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Human BBY";
  src: url(../src/assets/fonts/Human-BBY-Web-65-Medium.eot);
  src: url(../src/assets/fonts/Human-BBY-Web-65-Medium.woff2) format("woff2"),
    url(../src/assets/fonts/Human-BBY-Web-65-Medium.woff) format("woff"),
    url(../src/assets/fonts/Human-BBY-Web-65-Medium.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Human BBY";
  src: url(../src/assets/fonts/HumanBBY-75Bold-Web.eot);
  src: url(../src/assets/fonts/HumanBBY-75Bold-Web.woff2) format("woff2"),
    url(../src/assets/fonts/HumanBBY-75Bold-Web.woff) format("woff"),
    url(../src/assets/fonts/HumanBBY-75Bold-Web.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleOfComp {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  /* padding: 30px 0; */
  margin-bottom: 30px;
}
.topDeal {
  background-color: #bb0628;
  color: #ffffff;
  font-weight: 600;
  width: fit-content;
  padding: 2px;
  padding-right: 10px;
  clip-path: polygon(0 1%, 100% 0, 97% 100%, 0% 100%);
}
* {
  margin: 0;
  padding: 0;
}
